* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)),
    url(img/background.jpg) no-repeat;
  background-size: cover;
}

body {
  margin: 0 10%;
}

/*  **************             **************
    **************    HEADER   **************
    **************             ************** */
header {
  height: 80vh;
  width: 95%;
  background: linear-gradient(rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)),
    url(img/forest.jpg) no-repeat center center;
  background-size: cover;
  margin: 3% auto 0 auto;
  border: 20px solid white;
  position: relative;
}

header h1 {
  color: white;
  font-size: 80px;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border: 10px solid white;
  padding: 10px;
}

.fa-mountain {
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 100px;
  color: white;
}

header p {
  color: white;
  font-size: 26px;
  text-transform: uppercase;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin-top: 5%;
}

/*  **************             **************
    **************   NAV BAR   **************
    **************             ************** */
nav {
  background-color: rgba(86, 86, 86, 0.9);
  width: 95%;
  height: 5%;
  text-align: center;
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding: 32px 10px;
  text-transform: uppercase;
}

nav a {
  font-size: 16px;
  text-decoration: none;
  color: white;
  transition: .3s background-color;
  padding: 32px 10px;
}

nav a:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/*  **************             **************
    **************    MAIN     **************
    **************             ************** */
main {
  width: 100%;
  margin: 20px 0;
}

.colonna {
  float: left;
  padding: 10px;
}

.destra, .sinistra {
  width: 25%;
}

.centro {
  width: 50%;
}

/*  **************             **************
    **************   MAIN SX   **************
    **************             ************** */
#feeds {
  background-color: white;
  width: 80%;
  text-align: center;
  padding: 5% 5%;
  margin: auto;
  border-radius: 10px;
}

.fa-rss-square {
  color: orange;
  font-size: 30px;
  width: 50%;
  float: left;
  margin: 10% 5% 10% 5%;
}

#feeds h2 {
  width: 50%;
  float: left;
  margin: 2% 5% 10% 0;
}

.contenutosinistra {
  margin: 40% 0 0 0;
  padding: 0 10%;
}

.contenutosinistra a {
  text-decoration: none;
  color: green;
  padding: 10% 0 10% 0;
  display: block;
  text-align: left;
}

/*  **************             **************
    ************** MAIN CENTRO **************
    **************             ************** */
#primacentrale {
  background-color: white;
  width: 90%;
  text-align: left;
  padding: 5% 5%;
  margin: auto;
  border-radius: 10px;
}

#primacentrale h1 {
  margin-bottom: 8%;
}

/*  **************             **************
    **************   MAIN DX   **************
    **************             ************** */
.widget {
  background-color: white;
  width: 80%;
  text-align: left;
  padding: 5% 10%;
  margin: 10% auto;
  border-radius: 10px;
}

.widget h2 {
  margin-bottom: 25%;
  text-align: center;
}

.widget p {
  margin-bottom: 10%;
}

/*  **************             **************
    **************   FOOTER    **************
    **************             ************** */
footer {
  width: 95%;
  background-color: white;
  opacity: 0.9;
  text-align: center;
  margin: 10% 2.5% 0 2.5%;
  display: inline-block;
}

footer p {
  padding: 30px 0;
  color: grey;
  font-size: 20px;
}

.contenitoreloghi {
  width: 33.33%;
  float: left;
  margin: 2% 0;
}

.fa-facebook-square {
  color: lightgrey;
  font-size: 50px;
}

.fa-instagram {
  color: lightgrey;
  font-size: 50px;
}

.fa-github {
  color: lightgrey;
  font-size: 50px;
}

hr.hrgrgigio {
  display: fixed;
  margin: 0 5%;
}
