* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)),
    url(img/background.jpg) no-repeat;
  background-size: cover;
}

header {
  height: 80vh;
  width: 95%;
  background: linear-gradient(rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)),
    url(img/forest.jpg) no-repeat center center;
  background-size: cover;
  margin: 0 auto;
  border: 20px solid white;
  position: relative;
}

header h1 {
  color: white;
  font-size: 80px;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border: 10px solid white;
  padding: 10px;
}

#icona {
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 100px;
  color: white;
}

header p {
  color: white;
  font-size: 28px;
  text-transform: uppercase;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

nav {
  background-color: rgba(86, 86, 86, 0.9);
  width: 95%;
  height: 5%;
  text-align: center;
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding: 32px 10px;
  text-transform: uppercase;
}

nav a {
  font-size: 16px;
  text-decoration: none;
  color: white;
  transition: .3s background-color;
  padding: 32px 10px;
}

nav a:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

main {
  width: 100%;
  margin: 20px 0;
}

.colonna {
  float: left;
  padding: 10px;
}

.destra, .sinistra {
  width: 25%;
}

.centro {
  width: 50%;
}

#feeds {
  background-color: white;
  opacity: 0.9;
  width: 80%;
  text-align: center;
  padding: 20px 20px;
  margin: auto;
}

#primacentrale {
  background-color: white;
  opacity: 0.9;
  width: 80%;
  text-align: center;
  padding: 20px 20px;
  margin: auto;
}

#primowidget {
  background-color: white;
  opacity: 0.9;
  width: 80%;
  text-align: center;
  padding: 20px 20px;
  margin: auto;
}

footer {
  width: 95%;
  background-color: white;
  opacity: 0.9;
  text-align: center;
  margin: 150px 2.5% 0 2.5%;
  display: inline-block;
}

footer p {
  padding: 30px 0;
  color: grey;
  font-size: 20px;
}
